     /** Citas **/
 .citas {
      background-image: url('../imagenes/network.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      color: #ffffff;
 }

 @media (min-width: 992px) {
      .citas {
          background-size: cover;
      }
 }
 .citas h3 {
      font-size: 3.5rem;
      font-family: 'Lato', sans-serif;
 }
 .citas p {
      font-size: 1.2rem;
      line-height: 2.6rem;
 }
.btn-primary {
      background-color: #8ed3cc;
      border: 0;
      padding: 1rem 5rem;
      border-radius: 0;
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
 }
 .btn-primary:hover {
    background-color: #69aca5;
 }
